/* FLEX */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

/* WIDTH */

.w-100p {
  width: 100%
}

/* FONT SIZE */

.fs-32 {
  font-size: 32px;
}

/* FONT COLOR */

.fc-white {
  color: #f0f0f0;
}

.fc-orange {
  color: #eab643;
}

.fc-blue {
  color: #49ace0;
}

.fc-orange-hover:hover {
  color: #eab643;
}

/* FONT WEIGHT */

.fw-bold {
  font-weight: bold;
}

/* MARGIN */

.m-20 {
  margin: 20px;
}

/* MARGIN LEFT */

.ml-20 {
  margin-left: 20px;
}

/* MARGIN RIGHT */

.mr-20 {
  margin-right: 20px;
}

/* MARGIN TOP */

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

/* MARGIN BOTTOM */

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* BORDER */

.border-none {
  border: none;
}

.b-4 {
  border: 4px solid;
}


.bb-2 {
  border-bottom: 2px solid;
}

.bb-4 {
  border-bottom: 4px solid;
}

.border-selected {
  border: 8px solid #49c449;
}

/* BORDER COLOR */

.bc-blue {
  border-color: #49ace0;
}

.bc-orange {
  border-color: #eab643
}

.bc-black {
  border-color: black;
}

/* CURSOR */

.pointer {
  cursor: pointer;
}

/* BACKGROUND */
.orange {
  background: #eab643;
}

.white {
  background: #f0f0f0;
}

/* Text */

.text-center {
  text-align: center;
}